#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/reminder/usr/bin/reminder
